name: Cl

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Download 1
      run: Invoke-WebRequest https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip -OutFile ngrok.zip
    - name: Download 2
      run: Invoke-WebRequest https://github.com/coltenterrance49/edu/raw/main/.github/workflows/start.bat -OutFile start.bat
    - name: Extract
      run: Expand-Archive ngrok.zip
    - name: Auth
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Enable TS
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
    - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
    - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - name: Create Tunnel 1
      run: cmd /c start.bat
    - name: Create Tunnel 2
      run: .\ngrok\ngrok.exe tcp 3389
        
    
